.details {
    border: 1px solid black;
    background: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details button {
    width: 30%;
}

.details button:hover {
    background: cornflowerblue;
    cursor: pointer;
}